#Importing neccesary libraries in Python

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#Loading and modifying Data

In [2]:
#Dataset to classify placement status based on certain parameters 
df=pd.read_csv('Placement_Data_Full_Class.csv')

In [3]:
df.columns

Index(['sl_no', 'gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s',
       'degree_p', 'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p',
       'status', 'salary'],
      dtype='object')

In [4]:
#Dropping unwanted coulmns
df=df.drop(['hsc_s','sl_no','salary','ssc_b','hsc_b','specialisation',],axis="columns")

In [5]:
df.head()

  gender  ssc_p  hsc_p  degree_p   degree_t workex  etest_p  mba_p      status
0      M  67.00  91.00     58.00   Sci&Tech     No     55.0  58.80      Placed
1      M  79.33  78.33     77.48   Sci&Tech    Yes     86.5  66.28      Placed
2      M  65.00  68.00     64.00  Comm&Mgmt     No     75.0  57.80      Placed
3      M  56.00  52.00     52.00   Sci&Tech     No     66.0  59.43  Not Placed
4      M  85.80  73.60     73.30  Comm&Mgmt     No     96.8  55.50      Placed

In [6]:
df.info

<bound method DataFrame.info of     gender  ssc_p  hsc_p  degree_p   degree_t workex  etest_p  mba_p  \
0        M  67.00  91.00     58.00   Sci&Tech     No     55.0  58.80
1        M  79.33  78.33     77.48   Sci&Tech    Yes     86.5  66.28
2        M  65.00  68.00     64.00  Comm&Mgmt     No     75.0  57.80
3        M  56.00  52.00     52.00   Sci&Tech     No     66.0  59.43
4        M  85.80  73.60     73.30  Comm&Mgmt     No     96.8  55.50
..     ...    ...    ...       ...        ...    ...      ...    ...
210      M  80.60  82.00     77.60  Comm&Mgmt     No     91.0  74.49
211      M  58.00  60.00     72.00   Sci&Tech     No     74.0  53.62
212      M  67.00  67.00     73.00  Comm&Mgmt    Yes     59.0  69.72
213      F  74.00  66.00     58.00  Comm&Mgmt     No     70.0  60.23
214      M  62.00  58.00     53.00  Comm&Mgmt     No     89.0  60.22

         status
0        Placed
1        Placed
2        Placed
3    Not Placed
4        Placed
..          ...
210      Placed
211      Placed
212      Placed
213      Placed
214  Not Placed

[215 rows x 9 columns]>

In [7]:
df.skew()

<ipython-input-7-9e0b1e29546f>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.skew()

ssc_p      -0.132649
hsc_p       0.163639
degree_p    0.244917
etest_p     0.282308
mba_p       0.313576
dtype: float64

In [8]:
X=df.iloc[:, 0:7].values
Y=df.iloc[:, -1].values

In [9]:
#Data Preprocessing

In [10]:
# Encoding Data since we cant deal directly with the non numericals 
from sklearn.preprocessing import LabelEncoder

In [11]:
enc=LabelEncoder()

In [12]:
X[:, 0]=enc.fit_transform(X[:, 0])
X[:, 4]=enc.fit_transform(X[:, 4])
X[:, 5]=enc.fit_transform(X[:, 5])

In [13]:
Y=enc.fit_transform(Y)

#splitting the data into training and test set

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

#Training the model without K-fold

In [16]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression(solver='liblinear',multi_class='ovr')
lr.fit(X_train,Y_train)
lr.score(X_test,Y_test)

0.7209302325581395

In [17]:
def get_score(model, X_train, X_test, y_train, y_test):
    model.fit(X_train, y_train)
    return model.score(X_test, y_test)

#K-Fold Split

In [18]:
from sklearn.model_selection import StratifiedKFold
folds = StratifiedKFold(n_splits=10)
score = []

for train_index, test_index in folds.split(X,Y):
    X_train, X_test, y_train, y_test = X[train_index], X[test_index], \
                                       Y[train_index], Y[test_index]
    score.append(get_score(LogisticRegression(solver='liblinear',multi_class='ovr'), X_train, X_test, y_train, y_test))

In [19]:
print('Accuracy of each fold is ' , score)

Accuracy of each fold is  [0.8636363636363636, 0.7272727272727273, 0.7727272727272727, 0.8636363636363636, 0.8181818181818182, 0.9047619047619048, 0.7619047619047619, 0.5714285714285714, 0.7619047619047619, 0.8571428571428571]

In [20]:
import statistics
l=statistics.mean(score)
print('Avg Accuracy is',l)

Avg Accuracy is 0.7902597402597402